<mat-card class="container">
  <mat-card-header>
    <mat-card-title> Listar Jogos </mat-card-title>
  </mat-card-header>
  <mat-card-content> 
    <table>
      <tr>
        <th>
          #
        </th>
        <th>
          Seleção A
        </th>
        <th>

        </th>
        <th>
          Seleção B
        </th>
      </tr>
      <tr *ngFor="let jogo of jogos">
        <td>
          {{ jogo.id }}
        </td>
        <td>
          {{ jogo.selecaoA }}
        </td>
        <td>
          Palpite
        </td>
        <td>
          {{ jogo.selecaoB }}
        </td>
        <td>
          <button><a routerLink="/pages/jogo/palpitar/{{ jogo.id }}"> Palpitar </a></button>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
